.banner-full-screen-block1 .banner-full-screen-wide-text-and-icon-on__title {
    color:#fff;
    font-family:"Raleway";
    font-weight: 800;
    font-size: 3.875em;
   
    
    @media (max-width:1380px) {
        
        font-size: 2.875em;
    }

    @media (max-width:1050px) {
        
        font-size: 1.875em;
    }

    @media (max-width:680px) {
        
        font-size: 0.875em;
    }
    
    
}

.banner-full-screen-block1 .banner-full-screen-wide-text-and-icon-on__paragraph {
    color:#fff;
    font-family:"Raleway";
    font-weight: 600;
    font-size: 1.56em;
    line-height: 1.82em;
    @media (max-width:1380px) {
        
        font-size: 1.2em;
    }

    @media (max-width:850px) {
        
        font-size: 0.9em;
    }

    @media (max-width:680px) {
        
        font-size: 0.9em;
    }

    @media (max-width:640px) {
        
        font-size: 0.8em;
    }

    @media (max-width:560px) {
        
        font-size: 0.7em;
    }

    @media (max-width:560px) {
        
        font-size: 0.7em;
    }

    @media (max-width:500px) {
        
        font-size: 0.6em;
    }

    @media (max-width:430px) {
        
        font-size: 0.5em;
    }
}


.banner-full-screen-block1 .banner-full-screen-wide-text-and-icon-on__icon {
    margin-top: 15px;

    @media (max-width:992px) {
        
        width: 10%;
    }

}

.banner-full-screen-block1 {
    margin-top: -18px;
}


