.button-central-position {
    display: flex;
    justify-content: center;

  
    &__text {
        display: inline-block;
        padding: 7px;
        border-width:2px;
        border-style: solid;
        border-color: #337D5A;
        color:#337D5A;
        font-family:"Raleway";
        font-weight: 700;
        font-size: 0.94em;
        line-height: 1.1em;
        &:hover {
            background-color: violet;
        }
    }
}