.text-and-slider-box-slider-right {
    padding-top: 50px;
    display: flex;
    position: relative;
    flex-wrap: wrap;

    &__text-box {
        @media (max-width:992px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__title {
        padding-bottom: 30px;
        @media (max-width:430px) {
            font-size: 1.5em;
        }
        @media (max-width:992px) {
            text-align: center;
        }
    }

    &__paragraph {
        padding-right: 50px;
        padding-bottom: 30px;
        @media (max-width:992px) {
            padding-right: 0px;
            text-align: center;
        }

        &_color {
            color: #337D5A;
        }
    }

   

    &__play-icon1 {
        top: 50%;
    }

    &__swiper-navigation {
        position: absolute;
        bottom: 0;
        left:0;
        z-index: 1;
        background-color:#337D5A;
    }

    &__swiperPrev {
        background-color:#337D5A ;
        color: #fff;
    }

    &__swiperNext {
        background-color:#337D5A ;
        color: #fff;
    }

    &__button-central-position {
        
        &_left {
            justify-content: flex-start;
            margin-top: 40px;
            @media (max-width:992px) {
                margin-bottom: 25px;
            }
           

            
        }
    }



}







