

.img-choice-info-box {

    &__choice-btn-box {
        padding-top: 25px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
    }

    &__choice-btn-item {

        &_item1 {
            cursor: pointer;
        }

        &_item2 {
            cursor: pointer;
        }

        &_item3 {
            cursor: pointer;
        }

        &_item4 {
            cursor: pointer;
        }

        &_item5 {
            cursor: pointer;
        }
    }

    &__btn {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 15px;
        padding-left: 15px;
        height: 30px;
    }

    &__symbol {
    }

    &__symbol-img {

        &_item1-bright {
            @media (max-width:385px) {
                width: 90%;
          }
        }

        &_item1-fade {
            filter: brightness(1.5);
            @media (max-width:385px) {
                width: 90%;
          }
        }

        &_item2-bright {
            filter: brightness(0.3);
            @media (max-width:385px) {
                width: 90%;
          }
        }

        &_item2-fade {
            filter: brightness(0.9);
            @media (max-width:385px) {
                width: 90%;
          }
        }

        &_item3-bright {
            filter: brightness(0.3);
            @media (max-width:385px) {
                width: 90%;
          }
        }

        &_item3-fade {
            filter: brightness(0.9);
            @media (max-width:385px) {
                width: 90%;
          }
        }

        &_item4-bright {
            filter: brightness(0.3);
            @media (max-width:385px) {
                width: 90%;
          }
        }

        &_item4-fade {
            filter: brightness(0.9);
            @media (max-width:385px) {
                width: 90%;
          }
        }

        &_item5-bright {
            filter: brightness(0.3);
            @media (max-width:385px) {
                width: 90%;
          }
        }

        &_item5-fade {
            filter: brightness(0.9);
            @media (max-width:385px) {
                width: 90%;
          }
        }
    }

    &__text {
        margin-left: 30px;
        color:#000;
        font-family:"Raleway";
        font-weight: 800;
        font-size: 1.25em;
        line-height: 1.44em;
    }

    &__underline {
        height: 5px;
        width: 100%;
        background-color: #337D5A;
        margin-top: 10px;
    }

    &__img-info-box {
        padding-top: 50px;
    }

    &__img-info-box-item {

        &_item1 {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &_item2 {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &_item3 {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &_item4 {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &_item {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    &__img-info-box-item-text {
    }

    &__subtitle {
        color:#000;
        font-family:"Raleway";
        font-weight: 800;
        font-size: 1.25em;
        line-height: 3em;
    }

    &__symbol-subtitle-block-item {
        margin-bottom: 30px;
    }

    &__symbol-subtitle-box {
        display: flex;
        align-items: center;
    }

    &__symbol-subtitle-box-icon {
                 
    }

    &__symbol-subtitle-box-subtitle-italic {
        color:#1A2F3F;
        margin-left: 20px;
        font-family:"Raleway";
        font-weight: 600;
        font-style: italic;
        font-size: 1em;
        line-height: 1.5em;
    }

    &__symbol-subtitle-block-paragraph {
        color:#1A2F3F;
        font-family:"Raleway";
        font-weight: 500;
        font-size: 1em;
        line-height: 1.5em;
    }

    &__img-info-box-item-pic-box {
        display: flex;
        justify-content: flex-end;
        @media (max-width:1200px) {
            justify-content: center;
        }
    }

    
}

.hidden {
display: none;
}

.img-choice-info-box__img-info-box .active {
display: block;
display: flex;
}

.img-choice-info-box__choice-btn-item_item .active {
  display: block;
  display: flex;
}

.img-choice-info-box__img-info-box .none {
display: none;
}

.img-choice-info-box__choice-btn-item_item .none {
  display: none;
}

.img-choice-info-box__symbol .active {
  display: block;
}

.img-choice-info-box__symbol .none {
  display: none;
}

.img-choice-info-box-wholesale-block3 .img-choice-info-box__underline {
    margin-top: 30px;
}

.img-choice-info-box__choice-btn-box p {
    @media (max-width:1400px) {
        display: none;
    }

}

.imgtextblock {
    display: flex;
    flex-wrap: wrap;
    @media (max-width:1400px) {
        justify-content: center;
    }

    &__text {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }

    &__paragraph {
        color:#1A2F3F;
        font-family:"Raleway";
        font-weight: 500;
        font-size: 1em;
        line-height: 1.5em;
        margin-bottom: 30px;
    }

    &__btn {
        color:#fff;
        font-family:"Raleway";
        font-weight: 700;
        font-size: 1em;
        display: inline-block;
        width: 155px;
        height: 44px;
        background-color: #337D5A;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            background-color: violet;
        }
    }

    &__img {
        display: flex;
        justify-content: flex-end;
        @media (max-width:1400px) {
            justify-content: center;
        }
        padding-top: 30px;
    }

    &__pict2 {
        filter: brightness(0.7)
    }

    &__pict4 {
        filter: brightness(0.7)
    }
}
