
.offer {
    display: flex;
    padding-top: 50px;
    flex-wrap: wrap;
    @media (max-width:1400px) {
        
        flex-direction: column;
        
    }

		&__title {
            @media (max-width:1400px) {
                margin-bottom: 50px;
                text-align: center;
            }

            
		}

		&__paragraph:not(:last-child){
            margin-bottom: 30px; 
            @media (max-width:1400px) {
                text-align: center;
            }
		}

        &__paragraph {
           
            @media (max-width:1400px) {
                text-align: center;
            }
		}
}

.title-rale-800 {
    color:#1A2F3F;
    font-family:"Raleway";
    font-weight: 800;
    font-size: 2.82em;
    line-height: 1.3em;
    @media (max-width:400px) {
        font-size: 2.5em;
    }
}
.paragraph-rale-500 {
    color:#1A2F3F;
    font-family:"Raleway";
    font-weight: 500;
    font-size: 1em;
    line-height: 1.5em;
}

.para-mb:not(:last-child){
    margin-bottom: 15px; 
} 

