
.slider-text-under-img {

		&__slide {
            display: flex;
            flex-direction: column;

			&_video {
                position: relative;
			}
		}

		&__img {
            
		}

		&__text-box {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 15px;

		}

		&__data-link {
            margin-bottom: 15px;
            color:#8A8A8A;
            font-family:"Montserrat";       
            font-weight: 500;
            font-size: 0.8125em;
            line-height: 1.375em;
		}

		&__subtitle {
            margin-bottom: 15px;
            color:#1A2F3F;
            font-family:"Raleway";
            font-weight: 700;
            font-size: 1em;
            line-height: 1.375em;
		}

		&__paragraph {
            margin-bottom: 15px;
            color:#1A2F3F;
            font-family:"Raleway";
            font-weight: 500;
            font-size: 0.875em;
            line-height: 1.375em;
		}

		&__target-link {
            color:#337D5A;
            font-family:"Raleway";
            font-weight: 700;
            font-size: 0.875em;
            line-height: 1.25em;
            display: inline-block;
            &::after {
                content: "";
                display: inline-block;
                height: 2px;
                width: 30px;
                color: #337D5A;
            }
		}

		&__play-icon {
            position:absolute;
            top: 29%;
            left: 50%;
            transform: translate(-50%,-50%);
		}
}

