.text-box-title-and-3items {
    border-width:2px;
    border-style: solid;
    border-color: #000;
}

.text-box-title-and-3items__title {
    color:#1A2F3F;
    font-family:"Raleway";
    font-weight:800;
    font-size: 2.8em;
    line-height:3.3 em;
    margin-bottom: 40px;
}

.text-box-title-and-3items__item {
    color:#1A2F3F;
    font-family:"Raleway";
    font-weight:500 ;
    font-size: 1em;
    line-height: 1.56em;
}

.text-box-title-and-3items__item:not(:last-child) {
    margin-bottom: 30px;
}