.video-box-text-and-icon-on {
    position: relative;

    &__text-and-icon-box {
    }

    &__play-icon {
    }

    &__title {
    }

    &__paragraph {
    }
}
.col-10 {
}
.title-white {
}
.paragraph-white {
}

#play {
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
}

#video-box-text-and-icon-on__text-and-icon-box {

}
