
.mainMiddlePart-account-block2  .static-registration {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
}

.static-registration__managerBox {
    display: flex;
    flex-direction: column;
    padding-left: 75px;
}

.mainMiddlePart-account-block2 .static-registration__title {
    line-height: 1;
}

.static-registration__telLink {
    color: #337D5A;
}

.static-registration__telBox {
    color: #337D5A;
}

.transformImgBox {
    display: flex;
    flex-wrap: wrap;
    

    &__btn {
        padding-top: 30px;
       
      
    }

    &__appearance {
        
        position: relative;
        @media (max-width:768px) {
            padding-top: 30px;
            height: 785px;
        }
       
    }

    &__imgBox {
        padding-top: 30px;
        
       
    }

    &__titleBox {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 50px;
    }

    &__title {
        margin-bottom: 20px;
        color:#1A2F3F;
        font-family:"Raleway";
        font-weight: 700;
        font-size: 1.125em;
       
        
    }

    &__subtitle {
        color:#1A2F3F;
        font-family:"Raleway";
        font-weight: 500;
        font-size: 1em;
      
    }

    &__subtitle:not(:last-child) {
        margin-bottom: 5px;
    }
}

.inputBox1 {
    margin-top: 30px;
}

.inputBox1 .static-registration__subtitle {
    line-height: 1em; 
}

#inputBoxBtnAccount {
    
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 60px;
    bottom: 0;
   
}

#inputBoxBtnAccount .tabsBtn{
    width: 200px;
}

.transformImgBox__appearance input {
    border: 1px solid #fff;
    &:hover {
        border: 1px solid #000;
    }
}

.transformImgBox__appearance label {
    color:#1A2F3F;
    font-family:"Montserrat";
    font-weight: 500;
    font-size: 0.88em;
    
}


.transformImgBoxImgBox {
    position: relative;
    display: flex;
    justify-content: center;

    &__img {
    }

    &__text {
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 300px;
    }


    &__para {
        color:#fff;
        font-family:"Raleway";
        font-weight: 600;
        font-size: 1.25em;
        line-height: 1.47em;
        text-align: center;
    }
}

.transformImgBoxImgBox h3 {
    color: #fff;
    font-family: "Raleway";
    font-weight: 800;
    line-height: 1.2em;
    font-size: 2.3em;
    text-align: center;
    margin-bottom: 15px;
}





