
.mainMiddlePart-account-block2  .static-registration {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
}

.static-registration__managerBox {
    display: flex;
    flex-direction: column;
    padding-left: 75px;
}

.mainMiddlePart-account-block2 .static-registration__title {
    line-height: 1;
}

.static-registration__telLink {
    color: #337D5A;
}

.static-registration__telBox {
    color: #337D5A;
}
