.banner-full-screen-play-icon-on-top-news-block5 .video-box-text-and-icon-on__title {
    color:#fff;
    font-family:"Raleway";
    font-weight: 800;
    font-size: 2.81em;
    line-height: 1.3em;

    @media (max-width:1380px) {
        
        font-size: 2.875em;
    }

    @media (max-width:1050px) {
        
        font-size: 1.875em;
    }

    @media (max-width:680px) {
        
        font-size: 0.875em;
    }
}

.banner-full-screen-play-icon-on-top-news-block5 .video-box-text-and-icon-on__play-icon_icon-between {
    margin-top: 15px;

    @media (max-width:992px) {
        
        width: 10%;
    }
}

.video-box-text-and-icon-on-mask {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-box-text-and-icon-on {
    position: relative;
}

.banner-full-screen-play-icon-on-top-news-block5 {
    &:hover .video-box-text-and-icon-on-mask{
        display: none;
    }
}