.slider-text-under-img {
      

      &__slide {
            display: flex;
            flex-direction: column;
            
      }
  
    
  
      &__text-box {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 15px;
            position: relative;
      }
  
      &__data-link {
            margin-bottom: 15px;
            color: #8A8A8A;
            font-family: "Montserrat";
            font-weight: 500;
            font-size: 0.8125em;
            line-height: 1.375em;
      }
  
      &__subtitle {
            margin-bottom: 15px;
            color: #1A2F3F;
            font-family: "Raleway";
            font-weight: 700;
            font-size: 1em;
            line-height: 1.375em;
      }
  
      &__paragraph {
            margin-bottom: 15px;
            color: #1A2F3F;
            font-family: "Raleway";
            font-weight: 500;
            font-size: 0.875em;
            line-height: 1.375em;
      }
  
      &__target-link-box {
         
            max-width: 90px;
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 0;
            left: 15px;
            
      }
  
      &__target-link {
            color: #337D5A;
            font-family: "Raleway";
            font-weight: 700;
            font-size: 0.875em;
            line-height: 1.25em;
            display: inline-block;
            
      }
  
      &__arrow-line {
            display: inline-block;
            height: 2px;
            width: 30px;
            background-color: #337D5A;
            position: relative;
            margin-left: 5px;
            &::after {
                  content: "";
                  position: absolute;
                  height: 10px;
                  width: 10px;
                  display: inline-block;
                  background-color: transparent;
                  border: 2px solid #337D5A;
                  border-left: transparent;
                  border-bottom: transparent;
                  transform: rotate(45deg);
                  margin-left: 20px;
                  margin-top: -4px;
            }
  
      }
  
      &__imgbox {
        position: relative;
      }
  
      &__play-icon {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        @media (max-width:1920px) {
          
            top: 20%;
        
        }
        @media (max-width:1400px) {
          
            top: 17%;
        
        }
        @media (max-width:1200px) {
          
            top: 14%;
        
        }
        @media (max-width:992px) {
          
            top: 17%;
        
        }
        @media (max-width:768px) {
          
            top: 25%;
        
        }
        @media (max-width:500px) {
          
            top: 20%;
        
        }
        @media (max-width:425px) {
          
            top: 17%;
        
        }
  
      }
}
  
  
.slider5 {

      height: 500px;

      @media (max-width:768px) {
            
            height: 550px;

      }
      
      
}
  
  
  
#slider-button-prev {
background-color: #337D5A;
color: #fff;
visibility: visible;
position: relative;
min-width: 40px;
margin-right: 50px;

      &::after{
            left: 2px;
            position: absolute;
            font-size: 22px;
      }
      &::before {
            content: '';
            height: 2px;
            width: 25px;
            background-color: #fff;
            position: absolute;
            left:2px;
      }

}
  
#slider-button-next {
background-color: #337D5A;
color: #fff;
visibility: visible;
min-width: 40px;
right: 0;

      &::after{
            position: absolute;
            font-size: 22px;
            right: 2px;
            
      }

      &::before {
            content: "     ";
            height: 2px;
            width: 25px;
            background-color: #fff;
            position: absolute;
            right: 4px;
      }
}
  
  
  
  
.swiper-navigation-btn {
      position: relative;  
      margin-top: -140px;
      height: 50px;
      display: flex;
      justify-content: flex-end;
      
      
}
  
  
  
.slider-text-under-img-navigation-top-right-news-block4 .slider-text-under-img-nav-top-right {
      margin-top: 0px;
}
  
.slider-text-under-img__imgbox {
      display: flex;
      justify-content: center;
      width: 100%;
}
  
.swiper-navigation {
display: flex;
justify-content: end;
z-index: 1;

}
  
  
  
  
  
  
  
  
  
  



