
.filter-block2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width:992px) {
        justify-content: space-around;
    }
}

.filter-block2-text-icon {
    display: flex;
    
    &__text {
        color:#1A2F3F;
        font-family:"Raleway";
        font-weight: 700;
        font-size: 1.06em;
        line-height: 1.25em;
        margin-right: 5px;
    }

   
}

.filter-block2-taste-select {

    &__label {
        color:#1A2F3F;
        font-family:"Raleway";
        font-weight:600 ;
        font-size: 1em;
        line-height: 1.17em;
    }

    &__select-block {
        border: none;
    }
    @media (max-width:992px) {
        display: none;
    }
}


.filter-block2-weight-select {

    &__label {
        color:#1A2F3F;
        font-family:"Raleway";
        font-weight:600 ;
        font-size: 1em;
        line-height: 1.17em;
    }

    &__select-block {
        border: none;
    }

    @media (max-width:992px) {
        display: none;
    }
}

.filter-block2-price-filter {
    display: flex;
    align-items: center;
    &__label {
        color:#1A2F3F;
        font-family:"Raleway";
        font-weight:700 ;
        font-size: 1.06em;
        line-height: 1.25em;
        margin-right: 5px;
    }

    @media (max-width:992px) {
        display: none;
    }
}

.filter-block2-btn-box {

    &__btn-confirm {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 25px;
        padding-right: 25px;
        color:#8A8A8A;
        font-family:"Raleway";
        font-weight:600 ;
        font-size: 1em;
        line-height: 1em;
        &:hover{
            background-color:#337D5A;
            color: #fff;
        }

        @media (max-width:540px) {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    &__btn-reject {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 25px;
        padding-right: 25px;
        color:#8A8A8A;
        font-family:"Raleway";
        font-weight:600 ;
        font-size: 1em;
        line-height: 1em;
        &:hover{
            background-color:#337D5A ;
            color: #fff;
        }

        @media (max-width:540px) {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}








