
.text-and-slider-box-slider-right {

	

    &__subtitle {
        color:#1A2F3F;
        font-family:"Raleway";
        font-weight: 600;
        font-size: 1.5em;
       
        padding-bottom: 15px;
    }

}
