
.text-and-slider-box-slider-right {

	

    &__subtitle {
        color:#1A2F3F;
        font-family:"Raleway";
        font-weight: 600;
        font-size: 1.5em;
       
        padding-bottom: 15px;
    }

}

.slider-button-prev2 {
    visibility: hidden;
}

.slider-button-next2 {
    visibility: hidden;
}

.text-and-slider-box-slider-right__slider-box .slider-text-under-img__play-icon {
    top: 40%;
}

.text-and-slider-box-slider-right__slider-box .text-and-slider-box-slider-right__swiper-navigation {
    margin-top: -10px;
}
