.mainSection-entrance-block2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainSectionEntrance {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}