
   
.row-address {
    justify-content: space-between;
}

.btn-center-box {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.btn-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 184px;
    height: 44px;
    border: 2px solid #337D5A;
    &:hover {
        background-color: violet;
    }
   
    a {
        display: inline-block;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 0.875em;
        line-height: 1.1em;
        color: #337D5A;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 12px;
        padding-bottom: 12px;
        &:hover {
            background-color: violet;
        }
        
    }
}

.container-address-text {
    display: flex;
    flex-direction: column;
    @media (max-width:992px) {
        height:400px;
    }
    a{
        text-decoration: none;
        color: #1A2F3F;
        font-family: "Montserrat";
        font-size: 0.875em;
        font-weight: 500;
        line-height: 1.31em;
    }
    p{
        color: #1A2F3F;
        font-family: "Montserrat";
        font-size: 0.875em;
        font-weight: 500;
        line-height: 1.31em;
    }
    
}

.container-address-map {
 height: 710px;
 overflow: hidden;
    @media (max-width:576px) {
        height:400px;
    }

    @media (max-width:375px) {
        height:300px;
    }
}

.tel {
    display: flex;
    flex-direction: column;
}

.tel-socials {
    display: flex;
    align-items: center;
}

.icon-before-mail {
    display: flex;
}

.office-location-icon-before-address,
.production-location-icon-before-address {
    display: flex;
}

.map-iframe {
    margin-top: -120px;

    @media (max-width:576px) {
        margin-top: -250px;
    }

    @media (max-width:375px) {
        margin-top: -300px;
    }
}

.mail-location-block {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.icon-before-mail__icon {
    color:#337D5A;
}

.mail-location-block .icon {
    margin-right: 15px;
}

.container-address-text h3{
    color: #1A2F3F;
    font-family: "Raleway";
    font-weight: 800;
    font-size: 2.81em;
    margin-bottom: 30px;
    
}

.container-address-text-title {
    @media (max-width:992px) {
        text-align: center;
    }
}

.office-location-icon-before-address__address h3 {
    font-size: 1.06em;
    margin-bottom: 20px;
}

.production-location-icon-before-address__address h3 {
    font-size: 1.06em;
    margin-bottom: 20px;
}

.mail-location-block-location {
    @media (max-width:992px) {
        display: flex;
        justify-content: space-between;
    }
    
}

.icon-before-mail {
    @media (max-width:992px) {
        justify-content: center;
    }
    
}

.mail-location-block-location {
    display: flex;
    flex-direction: column;
    @media (max-width:992px) {
        flex-direction: row;
    }
    @media (max-width:520px) {
        flex-direction: column;
    }
}

.office-location-icon-before-address {
    margin-bottom: 105px;
    @media (max-width:992px) {
        margin-bottom: 0px;
    }
    @media (max-width:520px) {
        margin-bottom: 30px;
    }
}


