.single-hidden-slider-box-arrows-on {
    display: none;
    @media (max-width:1200px) {
        
        display: block;
    }

    &__magnifying-glass-box {
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    &__magnifying-glass-container {
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #93B474;

    }

    &__magnifying-glass {
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        
    }

   

    


}







