



@import "general/fonts";
@import "general/header";
@import "general/addressbox";
@import "general/footer";
@import "mainPage/galleryslider";
@import "mainPage/imgbox";
@import "productionPage/productionvideotop";
@import "productionPage/text-box-title-and-3items";
@import "productionPage/declaration-4items";
@import "general/reset";
@import "general/fonts";
@import "general/veriables";

body {
    // background-color: aqua;
    max-width: 1920px;
    margin: 0 auto;
    font-size: 16px;
    overflow-x: hidden;
    a {
        text-decoration: none;
    }


}
